<?xml version='1.0' encoding='UTF-8' ?>
<component>
    <id>com_reference</id>
    <nom>Gestion des références</nom>
    <class>reference</class>
    <table>reference</table>
    <traduction>1</traduction>
    <url>1</url>
    <icon>star</icon>
    <system>0</system>
    <position>side</position>
</component>
