/* ======================================
   *  10. About
  /* ====================================== */
.item-with-img .item-text {
  padding: 30px 30px;
}

.item-with-img .item-text .link2 {
  margin-top: 30px;
}

.item-with-img .item-text h2 {
  margin-bottom: 10px;
}
