<?xml version='1.0' encoding='UTF-8' ?>
<component>
   <id>com_temoignage</id>
   <nom>Gestion des témoignages</nom>
   <class>temoignage</class>
   <table>temoignage</table>
   <traduction>1</traduction>
   <url>0</url>
   <icon>comment-o</icon>
   <system>0</system>
   <position>side</position>
</component>
