.home-2 .link,
.home-2 .link2,
/* ======================================
 *  21. theme
/* ====================================== */
.home-2 .btn-1,
.home-2 .set a.active,
.home-2 footer li:hover a,
.home-2 .video-content-text a:hover i,
.home-2 .gallery-carousel-content a:hover,
.home-2 .video-content-text a:hover,
.home-2 .our-value .item a:hover {
  color: #29ccda;
}
.home-2 .our-value i:hover,
.home-2 .link:after,
.home-2 #toTop,
.home-2 .btn-1:hover {
  background: #29ccda;
}
.home-2 .btn-1:hover {
  color: #fff;
}
.home-2 .gallery-carousel .item:after {
  background: #29ccdacf;
}
.home-2 .video-content-text a {
  color: #192836;
}

.home-3 .link,
.home-3 .link2,
.home-3 .btn-1,
.home-3 .set a.active,
.home-3 footer li:hover a,
.home-3 .video-content-text a:hover i,
.home-3 .gallery-carousel-content a:hover,
.home-3 .video-content-text a:hover,
.home-3 .feature-item:hover a,
.home-3 .social-icon a:hover,
.home-3 nav a:hover,
.home-3 nav a:hover:before,
.home-3 nav .active,
.home-3 nav .active:before,
.home-3 .our-value .item a:hover {
  color: #d74d52;
}
.home-3 .our-value i:hover,
.home-3 .link:after,
.home-3 #toTop,
.home-3 nav a:after,
.home-3 .btn-2,
.home-3 .btn-1:hover {
  background: #d74d52;
}
.home-3 .btn-1:hover,
.home-3 .btn-2:hover,
.home-3 .search .ti-close,
.home-3 .search input {
  color: #fff;
}
.home-3 .search input {
  border-color: #fff;
}
.home-3 .gallery-carousel .item:after,
.home-3 .search {
  background: #d74d52cf;
}
.home-3 .video-content-text a {
  color: #192836;
}
.home-3 .search input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
.home-3 .search input::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.home-3 .search input:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
.home-3 .search input:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.home-3 .btn-1,
.home-3 .btn-2 {
  border-radius: 4px;
}
.home-3 .slider .item:after {
  display: none;
}
.home-3 .slider-parallax .item:before {
  top: 71px;
  left: 25%;
  transform: none;
}
@media only screen and (max-width: 991px) {
  .home-3 nav {
    background: #d74d52cf;
  }
  .home-3 nav a,
  .home-3 nav a:hover,
  .home-3 nav a:hover:before,
  .home-3 nav .active,
  .home-3 .mobile-menu .ti-close,
  .home-3 nav a:before {
    color: #fff;
  }
  .home-3 nav a:after {
    background: #fff;
  }
}

@media only screen and (max-width: 1200px) {
  .home-2 .gallery,
  .home-3 .gallery {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .home-2 .gallery,
  .home-3 .gallery {
    padding-top: 55px;
  }
}
@media only screen and (max-width: 768px) {
  .home-2 .gallery,
  .home-3 .gallery {
    padding-top: 0;
    margin-top: 80px;
  }
  .home-2 .curriculum-pro {
    padding: 80px 0;
    margin: 80px 0 0;
  }

  .home-2 .curriculum-pro-counter {
    margin-top: 80px;
    display: block;
  }

  .home-2 .gallery-2 img {
    width: 100%;
  }

  .home-2 .gallery-2 {
    margin: 0;
  }
  .home-2 .curriculum-pro:after {
    display: none;
  }
  .home-2 .curriculum-pro {
    background: url("../img/curriculum-pro-bg.jpg") no-repeat center / cover;
  }
}
